In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('filtered_data.csv')

In [3]:
df2 = pd.read_csv('Daylio_Abid.csv')

In [4]:
dataframes = []

dataframes.append(df1)

In [5]:
dataframes.append(df2)

In [6]:
dataframes

[     mood                                         activities
 0    good  unsure | bored | bad sleep | movies | gaming |...
 1    good                        happy | excited | bad sleep
 2   keren                           keluarga | bersih-bersih
 3   keren            keluarga | teman | film | game | coding
 4    baik    keluarga | film | game | bersih-bersih | coding
 5    baik           keluarga | film | bersih-bersih | coding
 6   keren                    teman | membaca | game | coding
 7    baik                      makan sehat | santai | coding
 8   keren                             santai | game | coding
 9    baik  bersyukur | cemas | tidur lumayan nenyak | min...
 10   baik  bersyukur | santai | tidak yakin | cemas | tid...
 11   baik  senang | bersemangat | bersyukur | puas | tidu...
 12   baik  bersyukur | cemas | tidur lumayan nenyak | min...
 13   baik  bersemangat | puas | lelah | cemas | tidur lum...
 14   baik  bersemangat | bersyukur | tidur lumayan nenyak...
 15   baik  bersemangat | tidur lumayan nenyak | minum air...
 16  keren                    teman | santai | membaca | game
 17  keren  keluarga | teman | kencan | olahraga | santai ...
 18   baik         tidur lebih awal | santai | game | belanja
 19  keren  keluarga | tidur lebih awal | makan sehat | sa...
 20   baik           teman | tidur lebih awal | santai | game
 21   baik                olahraga | olahraga | bersih-bersih
 22  keren  tidur lebih awal | makan sehat | membaca | gam...
 23   baik  tidur lebih awal | game | bersih-bersih | belanja
 24   baik                     tidur lebih awal | film | game
 25  keren  olahraga | tidur lebih awal | membaca | game |...
 26   baik                      olahraga | makan sehat | film
 27   baik            tidur lebih awal | makan sehat | santai
 28   baik  keluarga | olahraga | makan sehat | membaca | ...
 29  keren             keluarga | olahraga | tidur lebih awal
 30   good                                            friends
 31   good                                           manicure
 32   good                                            laundry,
       full_date    date    weekday      time   sub_mood  \
 0    16/04/2021  Apr-16     Friday   8:00 pm       yolo
 1    15/04/2021  Apr-15   Thursday   2:37 am   focused
 2    14/04/2021  Apr-14  Wednesday   2:39 am  confused
 3    13/04/2021  Apr-13    Tuesday   2:38 am  wondering
 4    12/04/2021  Apr-12     Monday   9:52 pm      angry
 ..          ...     ...        ...       ...        ...
 935  04/02/2018  Feb-04     Sunday   8:19 pm       yolo
 936  04/02/2018  Feb-04     Sunday  11:23 am        meh
 937  04/02/2018  Feb-04     Sunday   6:34 am   blessed
 938  03/02/2018  Feb-03   Saturday   7:52 pm      angry
 939  03/02/2018  Feb-03   Saturday   3:12 pm        meh

                                             activities    mood
 0    reading | Art | prayer | fasting  | walk | med...    Good
 1    reading | learning  | Art | prayer | fasting  ...    Good
 2    reading | learning  | prayer | fasting  | Qura...  Normal
 3    reading | learning  | Art | prayer | fasting  ...  Normal
 4    reading | learning  | fasting  | walk | medita...   Awful
 ..                                                 ...     ...
 935  Write dairy  | walk | meditation  | Audio book...    Good
 936                  meditation  | youtube | research   Normal
 937              prayer | good meal | youtube | movies    Good
 938      Write dairy  | Dota 2 | streaming  | shopping   Awful
 939  walk | meditation  | Dota 2 | Audio books  | s...  Normal

 [940 rows x 7 columns]]

In [7]:
if dataframes:
    combined_df = pd.concat(dataframes, ignore_index=True)
else:
    print("Tidak ada file yang digabungkan.")

In [8]:
combined_df = combined_df[['mood','activities']]

In [9]:
combined_df = combined_df.dropna()

In [10]:
combined_df

       mood                                         activities
0      good  unsure | bored | bad sleep | movies | gaming |...
1      good                        happy | excited | bad sleep
2     keren                           keluarga | bersih-bersih
3     keren            keluarga | teman | film | game | coding
4      baik    keluarga | film | game | bersih-bersih | coding
..      ...                                                ...
968    Good  Write dairy  | walk | meditation  | Audio book...
969  Normal                  meditation  | youtube | research
970    Good              prayer | good meal | youtube | movies
971   Awful      Write dairy  | Dota 2 | streaming  | shopping
972  Normal  walk | meditation  | Dota 2 | Audio books  | s...

[926 rows x 2 columns]

In [11]:
combined_df['mood'].unique()

array(['good', 'keren', 'baik', 'Good', 'Normal', 'Awful', 'Amazing',
       'Bad'], dtype=object)

In [12]:
combined_df = combined_df[combined_df['mood'].isin(['good', 'baik','keren','Good','Amazing'])]

In [15]:
combined_df = combined_df.map(lambda x: x.lower() if isinstance(x, str) else x)

In [16]:
try:
    combined_df.to_csv("combined-final.csv", index=False)
    print("File berhasil digabungkan dan disimpan sebagai 'combined-final.csv'.")
except:
    print("ada yang salah")

File berhasil digabungkan dan disimpan sebagai 'combined-final.csv'.