In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('combined.csv')

In [3]:
df2 = pd.read_csv('Daylio_Abid.csv')

In [4]:
dataframes = []

dataframes.append(df1)

In [5]:
dataframes.append(df2)

In [6]:
dataframes

[      full_date         date    weekday      time   mood  \
 0    2024-12-08   December 8     Sunday     13:40    meh
 1    2024-12-07   December 7   Saturday     07:00    meh
 2    2024-12-06   December 6     Friday     07:00    meh
 3    2024-12-05   December 5   Thursday     07:00   good
 4    2024-12-04   December 4  Wednesday     07:00    meh
 ..          ...          ...        ...       ...    ...
 202  2023-12-02   December 2   Saturday   6:03 PM  awful
 203  2023-11-28  November 28    Tuesday   7:02 AM    bad
 204  2023-11-17  November 17     Friday   7:00 AM  awful
 205  2023-11-15  November 15  Wednesday   9:00 PM  awful
 206  2023-11-14  November 14    Tuesday  12:01 PM    meh

                                             activities  note_title note
 0                                               unsure         NaN  NaN
 1    unsure | stressed | sad | desperate | bad slee...         NaN  NaN
 2                             unsure | bored | anxious         NaN  NaN
 3                                                  NaN         NaN  NaN
 4            unsure | bad sleep | gaming | eat healthy         NaN  NaN
 ..                                                 ...         ...  ...
 202  happy | excited | grateful | relaxed | content...         NaN  NaN
 203  excited | tired | unsure | bored | anxious | a...         NaN  NaN
 204  anxious | angry | stressed | sad | desperate |...         NaN  NaN
 205  tired | anxious | stressed | sad | bad sleep |...         NaN  NaN
 206  tired | unsure | bored | anxious | stressed | ...         NaN  NaN

 [207 rows x 8 columns],
       full_date    date    weekday      time   sub_mood  \
 0    16/04/2021  Apr-16     Friday   8:00 pm       yolo
 1    15/04/2021  Apr-15   Thursday   2:37 am   focused
 2    14/04/2021  Apr-14  Wednesday   2:39 am  confused
 3    13/04/2021  Apr-13    Tuesday   2:38 am  wondering
 4    12/04/2021  Apr-12     Monday   9:52 pm      angry
 ..          ...     ...        ...       ...        ...
 935  04/02/2018  Feb-04     Sunday   8:19 pm       yolo
 936  04/02/2018  Feb-04     Sunday  11:23 am        meh
 937  04/02/2018  Feb-04     Sunday   6:34 am   blessed
 938  03/02/2018  Feb-03   Saturday   7:52 pm      angry
 939  03/02/2018  Feb-03   Saturday   3:12 pm        meh

                                             activities    mood
 0    reading | Art | prayer | fasting  | walk | med...    Good
 1    reading | learning  | Art | prayer | fasting  ...    Good
 2    reading | learning  | prayer | fasting  | Qura...  Normal
 3    reading | learning  | Art | prayer | fasting  ...  Normal
 4    reading | learning  | fasting  | walk | medita...   Awful
 ..                                                 ...     ...
 935  Write dairy  | walk | meditation  | Audio book...    Good
 936                  meditation  | youtube | research   Normal
 937              prayer | good meal | youtube | movies    Good
 938      Write dairy  | Dota 2 | streaming  | shopping   Awful
 939  walk | meditation  | Dota 2 | Audio books  | s...  Normal

 [940 rows x 7 columns]]

In [7]:
if dataframes:
    combined_df = pd.concat(dataframes, ignore_index=True)
else:
    print("Tidak ada file yang digabungkan.")

File berhasil digabungkan dan disimpan sebagai 'combined.csv'.

In [10]:
combined_df = combined_df[['mood','activities']]

In [12]:
combined_df = combined_df.dropna()

In [13]:
combined_df

        mood                                         activities
0        meh                                             unsure
1        meh  unsure | stressed | sad | desperate | bad slee...
2        meh                           unsure | bored | anxious
4        meh          unsure | bad sleep | gaming | eat healthy
5        bad  unsure | bad sleep | gaming | eat healthy | dr...
...      ...                                                ...
1142    Good  Write dairy  | walk | meditation  | Audio book...
1143  Normal                  meditation  | youtube | research
1144    Good              prayer | good meal | youtube | movies
1145   Awful      Write dairy  | Dota 2 | streaming  | shopping
1146  Normal  walk | meditation  | Dota 2 | Audio books  | s...

[999 rows x 2 columns]

In [15]:
combined_df['mood'].unique()

array(['meh', 'bad', 'good', 'awful', 'keren', 'buruk', 'baik',
       'sangat buruk', 'biasa', 'rad', 'Good', 'Normal', 'Awful',
       'Amazing', 'Bad'], dtype=object)

In [18]:
combined_df = combined_df[combined_df['mood'].isin(['good', 'baik','keren','Good','Amazing'])]

In [19]:
combined_df

         mood                                         activities
7        good  unsure | bored | bad sleep | movies | gaming |...
8        good                        happy | excited | bad sleep
14      keren                           keluarga | bersih-bersih
15      keren            keluarga | teman | film | game | coding
17       baik    keluarga | film | game | bersih-bersih | coding
...       ...                                                ...
1134     Good  Dota 2 | Watching series  | youtube | travel |...
1140  Amazing  reading | shower | good meal | youtube | new t...
1141     Good            fasting  | walk | meditation  | youtube
1142     Good  Write dairy  | walk | meditation  | Audio book...
1144     Good              prayer | good meal | youtube | movies

[666 rows x 2 columns]

In [21]:
try:
    combined_df.to_csv("combined-final.csv", index=False)
    print("File berhasil digabungkan dan disimpan sebagai 'combined-final.csv'.")
except:
    print("ada yang salah")

File berhasil digabungkan dan disimpan sebagai 'combined-final.csv'.